<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="manifest" href="./static/minter-manifest.json">
    <meta name="theme-color" content="#000000">
    <title>BC-Plugz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='minter_styles.css') }}">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Plugz">
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>


<body>
    <div id="landing-page"></div>
    <script type="module" src="{{ url_for('static', filename='index.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/node-forge@0.10.0/dist/forge.min.js"></script>
    <script>
        // Store the API key in a JavaScript variable
        const apiKey = "{{ api_key }}";

        // Example of using node-forge in your JavaScript
        function encryptWithPublicKey(data, publicKeyHex) {
            try {
                // Use forge as a global variable
                const publicKeyDer = forge.util.hexToBytes(publicKeyHex);
                const publicKeyAsn1 = forge.asn1.fromDer(publicKeyDer);
                const publicKey = forge.pki.publicKeyFromAsn1(publicKeyAsn1);

                const encryptedData = publicKey.encrypt(data, 'RSA-OAEP', {
                    md: forge.md.sha256.create(),
                    mgf1: {
                        md: forge.md.sha1.create()
                    }
                });

                return forge.util.encode64(encryptedData);
            } catch (error) {
                console.error('Encryption error:', error);
                throw new Error('Failed to encrypt data.');
            }
        }
    </script>
</body>
</html>